@model CartViewModel
@{
    var currentPage = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
}

<div class="container">
    <table class="table table-striped">
        <tbody>
            @foreach (var item in Model.Cart.CartItems)
            {                
                <tr>
                    <td class="text-center">
                        <a class="btn btn-dark" asp-controller="cart"
                       asp-action="removefromcart" asp-route-id="@item.Movie.Id"><strong>-</strong></a>
                        @item.Amount
                        <a class="btn btn-dark" asp-controller="cart"
                       asp-action="addtocart"
                       asp-route-id=@item.Movie.Id asp-route-currentPage="@currentPage"><strong>+</strong></a>
                    </td>
                    <td>@item.Movie.Title</td>
                </tr>
            }
        </tbody>

    </table>
    <div class="text-center">
        <a class="btn btn-dark" asp-controller="order"
           asp-action="checkout">Checkout</a>
        <a id="clearcart" class="btn btn-dark" asp-controller="cart"
           asp-action="clearcart">Clear cart</a>
    </div>
</div>
<div class="control-section" style="width:400px;margin:0 auto;">
    <ejs-toast id="element" title="Matt sent you a friend request" content="You have a new friend request yet to accept"></ejs-toast>
</div>
<script type="text/javascript">
    setTimeout(
        () => {
            var toastObj = document.getElementById('element').ej2_instances[0];
            toastObj.target = document.body;
        }, 1000);
    document.getElementById("clearcart").addEventListener('click', function () {
        var toastObj = document.getElementById('element').ej2_instances[0];
        toastObj.show();
    });
</script>


