html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(65,65,65);
    background: linear-gradient(90deg, rgba(65,65,65,1) 5%, rgba(103,103,103,1) 25%, rgba(103,103,103,1) 75%, rgba(65,65,65,1) 95%);
}

footer .container {
    color: white;
}

/* Nav bar start */

.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    color: white;
    padding-top: 4px;
}

/* Nav bar end*/

/* Start page beginning */
.row {
    margin: 1em;
}

.highlight-movie {
    margin-top: 2em;
    width: 900px;
    border-radius: 5px;
}

.thumbnail {
    /*margin-top: 2em;*/
    width: 250px;
    height: 375px;
    border-radius: 5px;
}

thumbnail:hover {
    cursor: pointer;
    box-shadow: 0, 15px, 15px, white;
}

.thumbnail-add {
    width: 250px;
    margin: 8px 0px;
}

#nav-group {
    justify-content: space-between;
}
/* Start page end */

/* Sidebar start */

.sidebar-header h3{
    color: white;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-top: 1em;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-image: linear-gradient(#212529, #212529);
    /*border-right: black solid 2px;*/
    padding: 1em;
    /*box-shadow: 5px 0px 30px black;*/
    border-top-right-radius: 20px;
}

.adm-container {
    margin: 0;
}

li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

li a:hover {
    color: darkred;
}

#content-sidebar {
    width: 100%;
    padding: 3em;
    padding-left: 4em;
}

#content-sidebar h1{
    color: white;
}

#content-sidebar table {
    color: white;
}
/* Sidebar end */

/* Footer start */
.border-top {
    border-top: 2px solid #212529 !important;
}

/* Footer end */

/* Admin Pages start */
.container-adm {
    margin-top: 2em;
    margin-left: 4em;
    margin-bottom: 2em;
}

#adm-details{
    background-color: white;
    border-radius: 5px;
    margin-left: 0;
    padding: 1em;
    width: 1000px;
}

#adm-edit{
    margin-left: 0;
}

#adm-form-group{
    padding-left: 0;
}

.adm-form {
    margin-left: 0;
}

.adm-form .form-group label{
    color: white;
    margin-top: 0.5em;
}

#save-btn{
    margin-top: 1em;
}
/* Admin Pages end */
/* Admin Manage Products */
#btn-add a {
    color: white;
    text-decoration: none;
}
/* Admin Manage Products end*/

/*MOVIEDETAIL POPUP START*/

.main_card {
    color: #fff;
    width: 760px;
    height: 390px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 770px;
    background: linear-gradient(to right, #676767, white);
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.card_left {
    width: 100%;
}

.card_details {
    width: 90%;
    padding: 30px;
    margin-top: -25px;
}

    .card_details h1 {
        font-size: 30px;
    }

.card_right img {
    height: 390px;
    border-radius: 2px;
}

.card_right {
    border-radius: 2px;
}

.card_cat {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.PG, .year, .genre, .time {
    color: fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
}

.PG {
    background: #212529;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    -webkit-transition: 300ms ease-in-out;
}

.imdb-logo {
    width: 40px;
    height: 20px;
}

.description {
    font-weight: 100;
    line-height: 27px;
    height: 8rem;
}

.imdb-link {
    color: #212529;
    display: block;
    text-decoration: none;
}

    .imdb-link:hover {
        color: white;
    }

.social-btn {
    margin-left: -10px;
}

.add-button {
    color: #fff;
    border: none;
    padding: 20px;
    outline: none;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;
    background: #212529;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

    .add-button:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

.play_btn {
    height: 100%;
    margin: -394px auto;
    position: relative;
    text-align: center;
    background: rgba(0, 244, 170,0.4);
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}

.fa-play-circle {
    color: #255;
    font-size: 160px;
    margin-top: 110px;
    -webkit-animation: bounce 1.0s -0.4s infinite;
    animation: bounce 1.0s -0.4s infinite;
}

    .fa-play-circle:hover {
        color: aqua;
        animation: bounce 0.4s infinite;
    }

@-webkit-keyframes bounce {
    8% {
        transform: scale(0.3);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }

    10% {
        transform: scale(1.8);
        -webkit-transform: scale2);
        opacity: 0;
    }
}

@keyframes bounce {
    8% {
        transform: scale(0.3);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }

    20% {
        transform: scale(1.8);
        -webkit-transform: scale2);
        opacity: 0;
    }
}
/*Manage Stock*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:2rem
}

/*.card {
    display: flex;
}*/

.group-inline {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: gray;
    padding: 1rem;
}

.group-inline div {
    width: 30%;
}
/*Manage Stock*/

/*  FOLLOW*/
.Follow {
    background: url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
    width: 50px;
    height: 50px;
    bottom: 9px;
    right: 20px;
    display: block;
    position: fixed;
    border-radius: 50%;
    z-index: 999;
    animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

/*MOVIEDETAIL POPUP END*/

/*CAROUSEL START*/
.control-container {
    background-color: #adb5bd;
    height: 600px;
    margin: 0 auto;
    width: 600px;
}

.e-carousel .slide-content {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    height: 100%;
    justify-content: center;
}

.img-container img {
    max-height: 600px;
    max-width: 650px;
    min-width: 410px;
}


.e-carousel.e-partial .e-carousel-slide-container {
    padding: 0 100px;
}


.img-container {
    height: 100%;
    margin: 0;
}

/*CAROUSEL END*/

/*NAVBAR START*/



#trapezoid {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border: 80px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 100px solid rgba(1, 1, 1, .4);
    -webkit-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin-top: -175px;
    width: 900px;
    position: relative;
    transition: all 0.7s ease;

}

    #trapezoid a, .subnavbtn {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    .navbar-links{
        display: flex;
        justify-content: center;
        text-align: center;
    }
.sub-home {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    transform: perspective(-10px);

}
.sub-login {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    transform: perspective(-10px);
}

#trapezoid:hover .sub-home {
    justify-content: center;
    margin-top: 53px;
}

#trapezoid:hover .sub-login {
    justify-content: center;
    margin-top: 53px;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 100px;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 10px;
        width: 200px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        transition: all 0.5s ease;
    }
    
.logo{
    width: auto;
}

.subnav {
    float: left;
    overflow: hidden;
}

    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 10px;
        background-color: inherit;
        font-family: inherit;
        width: 120px;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 4px;
        transition: all 0.5s ease;
    }  

    .navbar a:hover, .subnav:hover .subnavbtn {
        /*background: #8CA6DB;*/
        color: black;
        border-radius: 5px;
    }
    

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: perspective(-10px);
}

    .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
    }

        .subnav-content a:hover {
/*            background: #B993D6;
*/            color: black;
        }

.subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
}
/*.expandHome {
    width: 254px !important;
}*/
.expandHome:hover{
/*    background: rgba(103,103,103,1);
*/}
.expandHome .movie {
    color: darkred;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
.expandHome .ninja {
    color: white;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
.expandHome:hover .movie{
    color:white;
}
.expandHome:hover .ninja{
    color:darkred;
}


.ninjalogo {
    font-size: 25px;
}

.logout-form{
    padding: 0;
}

/*NAVBAR END*/

/*CART START*/
.card {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

@media(max-width:767px) {
    .card {
        margin: 3vh auto;
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}

.summary .col-2 {
    padding: 0;
}

.summary .col-10 {
    padding: 0;
}

.row {
    margin: 0;
}

.title b {
    font-size: 1.5rem;
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}

.col-2, .col {
    padding: 0 1vh;
}



.close {
    margin-left: auto;
    font-size: 0.7rem;
}

.back-to-shop {
    margin-top: 4.5rem;
}

h5 {
    margin-top: 4vh;
}

hr {
    margin-top: 1.25rem;
}

.cart-form {
    padding: 2vh 0;
}

.cart-select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.cart-input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

    .cart-input:focus::-webkit-input-placeholder {
        color: transparent;
    }


a {
    color: black;
    text-decoration: none;
}

    a:hover {
        color: black;
        text-decoration: none;
    }

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}
/*CART END*/


