html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer .container {
    color: white;
}

/* Nav bar start */
.navbar-toggler{
    color: white;
}

.navbar-toggler-icon{
    color: white;
    padding-top: 4px;
}

/* Nav bar end*/

/* Start page beginning */
.row{
    margin: 1em;
}

.highlight-movie{
    margin-top: 2em;
    width: 900px;
    border-radius: 5px;
}

.thumbnail {
    /*margin-top: 2em;*/
    width: 300px;
    border-radius: 5px;
}

#nav-group{
    justify-content: space-between;
}
/* Start page end */

/* Sidebar start */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-image: linear-gradient(#aec0c3, #1a1b1c);
    border-right: black solid 2px;
    padding: 1em;
    box-shadow: 5px 0px 10px gray;
}

.adm-container {
    margin: 0;
}

li a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

li a :hover{
    color: white;
}
/* Sidebar end */