<link href="~/css/successtruck.css" rel="stylesheet" />

<div class="loop-wrapper">
    <div class="mountain"></div>
    <div class="hill"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="rock"></div>
    <div class="truck"></div>
    <div class="wheels"></div>
</div> 

<div class="row text-center">
    <h3 class="mt-5">SIT BACK AND RELAX, YOUR ORDER IS ON THE WAY!</h3>
    <h5 class="mt-5">Redirecting you to front page...</h5>
</div>

<script>
    setTimeout(function () {
        window.location.href = "@Url.Action("index","home")"
    }, 5000);
</script>