@page
@model Webbutik.Pages.Admin.IndexModel
@{
}

<div id="adm-container">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin Page
            </div>

            <ul class="list-unstyled components">
                <p>*Name*</p>
                @*<li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>*@
                <li>
                    <a href="#">Manage Products</a>
                </li>
                <li>
                    <a href="#">Manage Stock</a>
                </li>
                <li>
                    <a href="#">Manage Campaigns</a>
                </li>
                <li>
                    <a href="#">Statistic Dashboard</a>
                </li>
                <li>
                    <a href="#">Customer purchase log</a>
                </li>
                <li>
                    <a href="#">Currency</a>
                </li>
            </ul>
        </nav>
        <div id="content-sidebar"> 
            <p>Add Content here</p>

        </div>
    </div>
</div>

