@model Movie
@{
    ViewData["Title"] = "AddCampaign";
}

<h1>Add Campaign</h1>

<h4>Campaign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCampaign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id"/>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Description"/>
            <input type="hidden" asp-for="ImageUrl"/>
            <input type="hidden" asp-for="ReleaseDate"/>
            <input type="hidden" asp-for="Stars"/>
            <input type="hidden" asp-for="Writers"/>
            <input type="hidden" asp-for="Directors"/>

            @*<div class="form-group">
                <label asp-for="IsOnSale" class="control-label"></label>
                <input asp-for="IsOnSale" class="form-control" />
                <span asp-validation-for="IsOnSale" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Campaign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ManageCampaigns">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
