@model X.PagedList.IPagedList<Webbutik.Models.Movie>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "AllMovies";
}

<div class="container">
    <h3 class="header">Purchasable Movies</h3>

    <div class="row" style="justify-content: flex-end">
        @foreach (var item in Model)
        {
            <partial name="Components//_MovieCard" model="item" />

            <div class="modal" id="exampleModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <partial name="Components//_MovieDetails" model="item" />
                    </div>
                </div>
            </div>
        }
    </div>

    <p class="align-bottom" style="color:gold">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

    @Html.PagedListPager(Model, page => Url.Action("AllMovies",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
