<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NinjaMovies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Webbutik.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.3.47/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/20.3.47/dist/ej2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.3.47/fluent.css" />


</head>
<body>
    <header>
        @*        <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand text-light" asp-controller="home" asp-action="index">NinjaMovies <i class="fa-solid fa-user-ninja"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link text-light active" aria-current="page" asp-controller="home" asp-action="index">Home</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Movies
        </a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Adventure</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" aria-current="page" asp-controller="Movies" asp-action="AllMovies">All Movies</a></li>
        </ul>
        </li>
        <li class="nav-item">
        <a class="nav-link text-light active" aria-current="page" href="#">Top 10</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-light active" aria-current="page" asp-controller="Movies" asp-action="Campaigns">Movies On Sale</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-light active" aria-current="page" asp-controller="Movies" asp-action="Admin">Admin Page</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-light active" aria-current="page" asp-controller="Movies" asp-action="AllMovies">All Movies</a>
        </li>
        </ul>

        <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <a class="nav-link text-light" asp-controller="cart" asp-action="index">
        <i class="fa-solid fa-cart-shopping"></i>
        @await Component.InvokeAsync("CartItems")
        </a>

        </div>
        <partial name="_LoginPartial" />
        </div>
        </nav>*@
        <nav class="navbar">
            <div id="trapezoid">
                
                    <a class="sub-home" >Home</a>
                    <span class="sub-login"></span>
               
                <div class="navbar-links">
                    <div class="subnav">
                        <a class="subnavbtn" asp-controller="Movies" asp-action="TopTenMovies">Top 10</a>
                    </div>
                    <div class="subnav">
                        <a class="subnavbtn" asp-controller="Movies" asp-action="AllMovies">browse</a>
                    </div>
                    <div class="subnav">
                        <a class="subnavbtn" asp-controller="Movies" asp-action="Campaigns">deals</a>
                    </div>
                    <div class="subnav">
                    <a class="expandHome" asp-controller="home" asp-action="index">
                        <span class="logo">
                            <span class="ninja">NINJA </span>
                            <span class="ninjalogo"><i class="fa-solid fa-user-ninja ninja"></i></span>
                            <span class="movie"> MOVIES</span>
                        </span>
                        </a>
                    </div>
                        <partial name="_LoginPartial" />                   
                  

                    <div class="subnav">
                        <a class="subnavbtn" asp-controller="cart" asp-action="index">
                            <i class="fa-solid fa-cart-shopping"></i>
                            @await Component.InvokeAsync("CartItems")
                        </a>
                    </div>                  
                </div>
            </div>
        </nav>

    </header>
    <div class="container-main">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2022 - NinjaMovies <i class="fa-solid fa-user-ninja"></i>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>

</body>
</html>