@using Microsoft.AspNetCore.Identity
@using Webbutik.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <div class="subnav">
            <a id="manage" class="subnavbtn identity" asp-area="Identity"
             asp-controller="Movies" asp-action="Admin">ADMIN</a>
        </div>
    }

    <div class="subnav">
        <a id="manage" class="subnavbtn identity" asp-area="Identity"
       asp-page="/Account/Manage/Index"><i class="fa-solid fa-user-gear"></i></a>
    </div>

    <div class="subnav">
        <form id="logoutForm" class="form-inline" asp-area="Identity"
          asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="subnavbtn"><i class="fa-solid fa-right-from-bracket"></i></button>
        </form>
    </div>
}
else
{
    <div class="subnav">
        <a class="subnavbtn" id="login" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
    </div>
    <div class="subnav">
        <a class="subnavbtn" id="login" asp-area="Identity" asp-page="/Account/Register"><i class="fa-solid fa-user-plus"></i></a>
    </div>

}

